# Byte-compiled / cache
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Obsidian-specific (opcional)
.obsidian/

# Arquivos temporários
*.log

# Backups
persona_finance_backup
